.book__container {
    display: flex;
}

.book__info {
    padding-left: 1.5rem;
}

.book__title {
    margin-bottom: 0;
}

.book__authors {
    margin-top: 0;
    font-size: 1.5rem;
}

.book__description {
    margin-top: 0;
}

@media (max-width: 600px) {
    .book__container {
        flex-direction: column;
    }

    .book__description {
        margin-top: 2rem;
    }

    .book__cover-wrapper {
        text-align: center;
    }

    .book__cover {
        max-width: 100%;
    }
}