.book-card{
    box-shadow: 0 1.5rem 3rem rgb(0 0 0 / 20%);
    transition: transform 0.2s;
    overflow: hidden;
}

.book-card:hover{
    transform: translateY(-0.5rem) scale(1.02);
    box-shadow: 0 3rem 3rem rgb(0 0 0 / 20%);
}

.book-card__info{
    height: 6rem;
    padding: 0 1rem 1rem 1rem;
}

.book-card__title{
    margin-bottom: 0.2rem;
}

.book-card__authors{
    margin: 0;
}

@media (max-width: 460px) {
    .book-card{
        width: 14rem;
    }
  }
  