.books {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    gap: 1rem;
    margin: 1rem 0;
}

.books a{
    color: black;
}

.books a:hover{
    text-decoration: none;
}