.navbar{
    display: flex;
    background-color: #2b2c31;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: rgba(252, 220, 40, 0.588);
    text-decoration: none;
}

.navbar a:hover{
    color: #ddbe17;
}

.nav-link{
    font-size: 1.6rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: flex-end;
}

.nav-logo{
    fill: currentColor;
    height: 2rem;
    width: 2rem;
    margin-right: 0.2rem;
}

@media (max-width: 600px){
    .nav-link{
        font-size: 1.2rem;
        padding: 1rem;
    }
    
    .nav-logo{
        height: 1.42rem;
        width: 1.42rem;
    }
}